*{
    margin:0px;
    box-sizing: border-box;
}


:root{
    --main-color:rgb(0, 154, 216);
    --paragraph-color: #999999;
}


a{
    text-decoration: none;
}












/* navbar */

.navbar-nav .nav-item .nav-link.active{
    font-weight: bold;
    color:var(--main-color);
   border-radius: 30px;
   border:2px solid rgb(0, 154, 216);
   padding:5px 25px;
 
}


.navbar-nav {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}


.navbar-nav .nav-item .nav-link{
   
    font-weight: 400;
    font-size: 14px;
    border:none;
    border-color: transparent;
    /* padding-right: 50px;
    padding-top: 15px; */
   color:white;
   padding:5px 25px;
  transition: all 1s;
}


.navbar-nav .nav-item .nav-link:hover{
    border-radius: 30px;
   border:3px solid rgb(0, 154, 216);
   color: var(--main-color);
  
}



body{
   /* height:200%; */
    background-color: #18181c;
}
/* body */

.head{
    background-image: url('../images/images/raindrops-blurs-view-through-window-dreary-day.jpg');
   
    background-size: cover;
    background-position: center center;
  
    width:100%;
    /* height:100vh; */
    /* z-index:-4;  */
    padding: 70px 0px;
    min-height: 350px;
    /* flex-direction: column;
    display: flex;
    justify-content: center; */
   
}

/* .container{
    width:80%;
    margin:auto;
    background-color: blue;
} */

.search{
    position:relative;
    
    /* background-color: aqua; */
}

.search button{
    position:absolute;
    
    right:5px;
    border-radius: 30px;
    padding: 15px 40px;
    background-color: var(--main-color);
    border-color: transparent;
}


.search input{
        
        background-color: #1e202b;
       color:white;
       padding: 20px 50px 20px 20px;
       border-radius: 30px;
}

.search input::placeholder{
    color:grey;
}
.form-control{
    border:none;
    
}


.form-control:focus{
    box-shadow: none;
    background-color: #1e202b;
    color:white;
}


/* item1 */
.item1{
    background-color: #323544;
}
.header{
    color:  rgb(191, 193, 200);
    background-color: rgba(0, 0, 0, 0.1);
}

.body p{
    color:  rgb(191, 193, 200);
}

.item2{
    background-color: #262936;
}

.header1{
    background-color: rgba(0, 0, 0, 0.1);
    color:#bfc1c8;
}

.bodytemp p{
    color:  rgb(191, 193, 200);
}


footer{
     background-color: #323544; 
   
}

.about-iconitems .iconitems1{
    width:40px;
    height:40px;
   color:var(--main-color);
    border-radius: 50%;
    background-color: #1e202b;
    /* border: 2px solid #1e202b; */
    transition: background-color 1s;
    cursor: pointer;
}

.about-iconitems .iconitems1:hover i{
    transition:color 1s;
}
.about-iconitems .iconitems1:hover i{
    color:white;

}



.about-iconitems .iconitems1:hover{
    background-color: var(--main-color);
}


